nav {
    z-index: 100;
}
.bg-custom {
    background-color:rgba(255, 255, 255, 0.671);
  }
  .nav-item .register-link {
    color: rgb(255, 255, 255); 
  }
  .nav-link .login-link {
    color: whitesmoke; 
  }