<app-navbar></app-navbar>
<div class="contanier">
  <div class="hero">
    <div class="innerBox">
      <div class="content">
        <h4>SALESFORECASTPRO</h4>
        <h4>Start winning at sales with reliable forecasting</h4>

        <p>
          Sales forecasting helps you to estimate your revenue and optimize your
          sales performance. Take accurate and informed decisions to avoid
          shortcomings and increase your sales growth.
        </p>
        <a href="/login" class="btn">GET STARTED </a>
      </div>
      
      <div class="div-img">
        <img src="../../assets/hero.png" alt="" />
      </div>
    </div>
  </div>
</div>
